/* font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'open sans', sans-serif;
}


/*conteúdos gerais */

.bt-general {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding: 7px 16px;
    border: 1px solid #000;
    border-radius: 50px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    height: auto;
    margin-top: 32px;
}

.contenier {
    background-color: #d4e9e2;
    color: rgb(30, 57, 50);
    font-weight: 600;
    margin-bottom: 26px;
}


/* header */

header .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 100px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 100px;
}


/*menu left*/

.menu-left {
    display: flex;
    height: 100%;
    align-items: center;
}

.menu-left img {
    height: 51px;
    width: 51px;
    margin-right: 40px;
    cursor: pointer;
}

header nav ul {
    padding: 0;
    display: flex;
    margin-right: 20px;
    list-style: none;
    margin: 0;
    margin-bottom: 9px;
}

header nav li a {
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 2px
}

header nav li a:hover {
    color: #008248;
}


/*menu right*/

.menumob {
    display: none;
    height: 20px;
    width: 30px;
    margin-bottom: 9px;
}

.menumob div {
    display: fixed;
    height: 2px;
    border-bottom: 3px solid #000;
    padding-bottom: 5px;
}

.abri {
    display: flex;
}

.menu-right {
    display: flex;
    height: 100%;
}

.menu-right img {
    width: 120px;
    margin-top: 25px;
}

.bt-white,
.bt-black {
    margin-left: 15px;
}

.bt-header {
    display: block;
}

.bt-black {
    background-color: #000;
    color: #FFF;
}

.bt-white:hover,
.bt-black:hover {
    transform: scale(0.9);
    transition: all 0.2s;
}

.bt-white:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-right--location {
    display: flex;
    align-items: center;
}

.menu-right--img img {
    margin-right: 20px;
}

.menu-right--location svg {
    margin-right: 10px;
}

.menu-right--location a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 3px;
}


/* body */

main {
    max-width: 1440px;
    margin: auto;
}

.banner {
    position: relative;
    margin-bottom: 26px;
}

@keyframes banner {

    0% {
        width:0;
    }

    
}

.banner-carrossel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.banner-carrossel div {
    transition: all 0.1s ease-in;
}

.banner-carrossel img {
    max-width: 1440px;
}

.banner-controls {
    position: absolute;
    z-index: 1;
    top: 50%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.banner-controls svg {
    padding: 5px;
    fill: rgba(0, 0, 0, 0.6);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    border: 1px solid #000;
    margin: 0 15px;
    box-shadow: 0 0 6px rgb(0 0 0 / 24%), 0 8px 12px rgb(0 0 0 / 14%);
}

.controls:hover {
    margin: 2px 17px;
    transition: 0.1s;
    background-color: rgba(255, 255, 255, 0.9);
}


/* section about -us */

.bn-text {
    padding: 40px;
    text-align: center;
}

.bn-text p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: auto;
    width: 70%;
}

.bn-text a {
    margin-top: 32px;
    font-size: 14px;
}


/* content */

.bt-effect:hover {
    transform: scale(0.9);
    transition: all 0.2s;
    background-color: rgba(153, 156, 155, 0.301);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.contenier-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.areab {
    padding: 100px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenier-grid h1 {
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    margin-bottom: 24px;
}

.contenier-grid p {
    margin: 0;
    line-height: 32px;
    width: 80%;
    font-size: 17px;
    margin: auto;
}

.areaA {
    background-image: url(/Assets/images/sb-dia-do-fotografo.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.grid-img img {
    display: none;
}


/* grid2 */

.grid2 .areaA {
    background-image: url(/Assets/images/featured-drinks.jpg);
    background-size: contain;
    width: 100%;
    height: 100%;
}

.grid-reverse .areab {
    grid-row: 1;
}


/* area3 */

.area--3 .areaA {
    background-image: url(/Assets/images/donate.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}


/* area4 */

.area--4 .areaA {
    background-image: url(/Assets/images/partners.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

hr {
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.1);
}


/* footer */

footer {
    padding: 4.8rem 4rem 3.2rem 131px;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 70%), 0 2px 8px 0 rgb(0 0 0 / 50%), 0 1px 5px 0 rgb(0 0 0 / 10%);
}

.contenier-footer--princ {
    margin: auto;
}

.contenier-footer {
    margin: auto;
    display: flex;
}

.about-us {
    padding: 40px 0;
    width: 100%;
    max-width: 200px;
}

.about-us svg {
    display: none;
}

.about-us ul {
    margin: 0;
    padding: 0;
}

.about-us li {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    margin: 26px 0;
    font-size: 14px;
}

.about-us li a {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    margin: 40px 0;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.56);
}

.about-us--img {
    margin-top: 49px;
}

.about-us--img img {
    width: 150px;
}

.about-us h3 {
    font-size: 16px;
    font-weight: 500;
}

.about-us li a:hover {
    color: rgba(0, 0, 0, 1);
}

hr {
    margin: 0;
    margin: auto;
}

.row {
    margin: auto;
}

.row ul {
    display: flex;
    padding: 0;
    margin: 0;
    padding: 50px 0 30px 0;
}

.row li {
    list-style: none;
    padding: 0;
    margin-right: 15px;
}

.politic {
    padding-bottom: 20px;
}

.politic a {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    padding: 0 15px;
    border-right: 1px solid #000;
    text-decoration: none;
}

.politic a:hover {
    color: rgba(0, 0, 0, 0.7);
    ;
}

.row li:hover img {
    background-color: rgb(199, 198, 198);
    transform: scale(1.2);
    transition: all 0.2s;
    border-radius: 50%;
}

.politic a:nth-child(1) {
    padding-left: 0;
}

.politic a:nth-child(4) {
    border-right: none;
}

.copyright {
    padding: 25px 0 65px 0;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, .56);
}

.copyright p {
    padding: 0;
    margin: 0;
}

@media (max-width: 1200px) {
    .bt-black {
        display: none;
    }
    .banner-carrossel img {
        max-width: 1200px;
        
    }

   
}

@media (max-width: 1100px) {
    .banner-carrossel img {
        max-width: 1200px;
    }
    .bt-white {
        display: none;
    }

   
    .contenier-footer {
        display: block;
    }
    .about-us h3 {
        padding: 5px 0px;
        width: 100%;
        margin-bottom: 10px;
    }
    .about-us {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0;
        width: 100%!important;
        max-width: 100% !important;
    }
    .about-us svg:hover li {
        display: block;
    }
    .about-us svg {
        display: block;
        margin-left: auto;
        transition: all .15s ease;
    }
    .about-us li {
        display: none;
    }
    .about-us ul {
        width: 100%!important;
        max-width: 100% !important;
    }
    .about-usshow {
        display: none;
    }
    .about-us svg {
        position: absolute;
        right: 0;
        top: 24px;
    }
    .about-us ul h3:nth-child(5) {
        padding-bottom: 20px;
    }
    .about-us--img {
        margin: 20px 0;
    }
    .about-us--img img {
        width: 110px;
    }
    footer {
        padding-top: 0.8em;
    }
    .politic {
        display: flex;
        flex-direction: column;
    }
    .politic a {
        font-size: 15px;
        padding: 0;
        border: none;
        margin-bottom: 25px;
    }
    .grid2 .areaA {
        background-size: cover;
        height: 300px;
        width: 400px;
        position: absolute;
        right: 0;
    }
    .area--3 .areaA {
        background-size: cover;
        height: 300px;
        width: 400px;
    }
    footer {
        padding: 4.8rem 2rem 3.2rem 20px;
    }
    .about-us h3:focus~li {
        display: block;
    }
}

@media (max-width:904px) {
    .banner-carrossel img {
        max-width: 904px;
    }
    .menumob {
        display: block;
        margin-bottom: 20px;
    }
    nav {
        display: none;
    }
    .menu-right--img,
    .menu-right--location {
        display: none;
    }
    header {
        display: flex;
        flex-direction: column;
    }
    .menumob {
        position: absolute;
        top: 20px;
        right: 20px;
        margin-top: 15px;
    }
    .menu-left {
        margin-right: auto;
        margin-top: 15px;
    }
    /*  refatorando o código  */
    nav ul {
        flex-direction: column;
        height: 100vh;
        z-index: 99;
        position: absolute;
        left: 0;
        padding: 20px;
        background-color: #fff;
        bottom: 0;
        margin: 0;
        box-sizing: border-box;
        width: 70%;
        margin-bottom: 0;
    }
    header nav ul {
        padding-top: 20px;
        height: 100vh;
        position: fixed;
        margin-bottom: 0;
    }
    header nav li {
        margin-left: 40px;
        padding-bottom: 25px;
    }
    .menu-right--img img {
        z-index: 99;
        position: absolute;
        bottom: 190px;
        left: 0;
        margin-left: 16%;
    }
    .menu-right {
        flex-direction: column-reverse;
        position: fixed;
        align-items: center;
        z-index: 99;
    }
    header nav li a {
        text-transform: none;
        font-size: 14px;
        font-weight: 600;
        color: rgba(0, 0, 0, 1);
    }
    .bt-black,
    .bt-white {
        text-align: center;
        margin-left: -20px;
        padding: 15px 10px;
        margin-right: -20px;
        width: 200px;
        justify-content: center;
    }
    bt-header {
        width: 100%;
    }
    .bt-black,
    .bt-white,
    .menu-right--location,
    .bt-header {
        z-index: 99;
    }
    .banner-controls {
        display: none;
    }
    .banner-carrossel .banner-1 {
        animation: banner 1s infinite ;
    }
    .bt-white {
        margin-bottom: 20px;
    }
    
    header .header {
        margin-bottom: 20px;
    }
}

@media (max-width:656px) {
    .banner-carrossel img {
        max-width: 656px;
    }
    .grid-img img {
        width: 100%;
        display: flex;
        order: 1;
    }
    .grid2 .areaA {
        background-size: cover;
        background-position: center;
        width: 100%;
        position: relative;
    }
    .area--3 .areaA {
        background-size: cover;
        background-position: center;
        width: 100%;
        position: relative;
    }
    .contenier-grid {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .areab {
        padding: 40px 48px;
    }
}

@media (max-width:425px) {
    .banner-carrossel img {
        max-width: 425px;
    }
}

@media (max-width:367px) {
    .bt-black,
    .bt-white {
        width: 150px;
    }
    .banner-carrossel img {
        max-width: 367px;
    }
}